@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@layer base {
    html {
      font-family: 'Fredoka One';
    }
}

.card{
    @apply mb-5 block rounded-lg border border-gray-200 shadow-md
}

.primary-button{
    @apply rounded bg-blue-500 py-2 shadow-lg outline-none hover:bg-blue-700 active:bg-blue-800 p-2 
}

.default-button{
 @apply rounded bg-gray-100 py-2 shadow outline-none hover:bg-gray-100 active:bg-gray-300 p-2
}

input,
select,
textarea{
    @apply rounded border p-2 outline-none ring-indigo-400 focus:ring
}

.dropdown-link{
    @apply flex p-2 hover:bg-gray-400;
}

.alert-error{
    @apply p-3 my-3 text-red-700 bg-red-100 rounded-lg;
}

.alert-success{
    @apply p-3 my-3 text-green-700 bg-green-100 rounded-lg;
}